﻿.GridViewAll
{	
	border-style: double;
	border-width: 2px;
	padding: 1px;
	width:100%;
}

.GridViewAll th
{
	border-width: 0px;
	padding: 2px;
	/*background-color: #1f4f77;*/
	font-size: 12px;
	font-weight: normal;
	/*color:#ffffff;*/
	font-family: Arial;
	text-align: center;
	border-style: none;
}

.GridViewAll td
{
	border-width: 0px;
	padding: 2px;
	border-style: none;
	/*background-color: #E1E9F2;*/
	font-size: 12px;
	color: #1f4f77;
	font-weight: normal;
	font-family: Arial;
	vertical-align: middle;
	text-align: left;
}

.GridGeneral
{
	background-color: #EDE6D6;
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 1px;
	padding-top: 1px;    
}

.GridCabeceraFijo
{
	height: 18px;
	font-weight: bold;
	font-size: 11px;
	color: #ffffff;
	font-family: Arial;
	background-color: #507CD1;
	margin-left: 2px;
}

.GridCabeceraFijo A:link
{
	font-size: 8pt;
	color: #ffffff;
}

.GridCabeceraFijo A:visited
{
	font-size: 8pt;
	color: #ffffff;
}

.GridHeader
{
	height: 18px;
	font-size: 11px;
	font-family: Verdana, Arial;
	font-weight: bold;
	background-color: #476321;
	text-align: center;
  color: #ffffff;
}

.GridDetalle
{
	height: 18px;
	font-size: 10px;
	font-family: Verdana, Arial;
	background-color: #FCFAF5;
	text-align: left;
}

.GridDetalleAlterno
{
	height:18px;
	font-size: 10px;
	font-family: Verdana, Arial;
	background-color: #ffffff;
	text-align: left;
}

.GridDetalleSeleccion
{
	font-size: 10px;
	font-family: Verdana, Arial;
	color: #ffffff;
	height: 18px;
	background-color: #003399;
}

.GridDetalleSeleccion A:link
{
	font-size: 8pt;
	color: #ffffff;
}

.GridDetalleSeleccion A:visited
{
	font-size: 8pt;
	color: #ffffff;
}

.GridPagina
{
	font-size: 9pt;
	color: #6b2e0e;
	font-weight: bold;
	font-family: Arial;
}
