* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Arial, sans-serif;
}
 
a img{
	border: 0;
	vertical-align: text-bottom;
}

a {
	text-decoration: underline;
	color: #000;
}

/*** HEADER ***/

#printheader {
	float: right;
	text-align: right;
}

#smallcopy {
	font-size: 0.8em;
}

#header {
	margin: 0;
	text-align: center;
	width: 100%;
}
 	
#logo {
	float: left;
}


#logo h1 {
	font-weight: 400;
	letter-spacing: -2pt;
	font-size: 2.3em;
	color: #000;
	text-transform: lowercase;
}

#logo h2 {
	font-weight: 400;
	letter-spacing: -1pt;
	font-size: 1.2em;
	color: #707070;
}

 
/*** TOP NAVIGATION BAR ***/

#topnav {
	display: none;
}


/*** LEFT NAVIGATION MENU ***/

#leftmenu{
	display: none;
}

		
/*** MAIN CONTENT AREA ***/

#central {
	background-color: #fff;
}

#content {
	text-align: left;
	width: 100%;
	margin: 0 auto 0 auto;
	padding-top: 5%;
	clear: both;
}

#content h1, #content h2, #content h3, #content h4 {
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 2em 0 1em 0;
	color: #000;
}

#content h1{
	font-size: 1.6em;
}

#content h2{
	font-size: 1.3em;
}

#content h3{
	font-size: 1.1em;
}

#content h4{
	font-size: 1em;
}

#content ul, #content ol {
        padding: 0 0 0.5em 2em;
	list-style-position: inside;
}

#content li {
	padding-top: 0.5em;
	color: #000;
}


#content p, #content td, #content th, #content pre{
	padding: 0.8em 0 0.5em 1em;
	color: #000;
}

#content p {
	text-indent: 1.5em;
}

#content p a{
	color: #000;
}

#content table {
	margin: 0 0 0 2em;
	border-width: 1px;
	border-spacing: 0;
	border-style: solid;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}

#content table th, #content table td {
	border-width: 1px;
	padding: 0.5em;
	border-style: solid;
	border-color: gray;
	background-color: white;
}

.quote, .centerquote {
	margin: 1em 2em 1em 2em;
	border: 1px solid #b0b0b0;
	padding: 0.5em;
	width: 90%;
	background: #f7f7f7;
	color: #000;
	clear: right;
}

.centerquote {
	font-weight: bold;
	text-align: center;
}
 
#rightquote {
	border: 1px solid black; 
	padding: 1em;
	float: right;
	width: 30%;
	text-align: right;
	background-color: #f7f7f7;
	margin: 0 0 1em 1em;
}

#rightquote p{
	padding: 0;
	margin: 0
}


.rightimg {
	margin: 1em 0 1em 1em;
	float: right;
}

.leftimg {
	margin: 1em 1em 1em 0em;
	float: left;
}

.leftpic {
	padding: 2em 0 2em 0;
	width: 49%;
	text-align: center;
	float: left;
}

.rightpic {
	padding: 2em 0 2em 0;
	width: 49%;
	text-align: center;
	float: right;
}

.centerpic {
	padding: 2em 0 2em 0;
	text-align: center;
	margin: 0 auto 0 auto;
}

.clear {
	clear: both;
}

.pdf {
	list-style-image: url('/images/pdf.png');
	vertical-align: text-bottom;
}

.ps {
	list-style-image: url('/images/ps.png');
	vertical-align: text-bottom;
}

.html {
	list-style-image: url('/images/html.png');
	vertical-align: text-bottom;
}

.latex {
	list-style-image: url('/images/latex.png');
	vertical-align: text-bottom;
}

.original {
	list-style-image: url('/images/original.png');
	vertical-align: text-bottom;
}

.odt {
	list-style-image: url('/images/odt.png');
	vertical-align: text-bottom;
}

.navlink {
	display: none;
}

.linkinfo {
	font-size: 0.9em;
}


 
/*** FOOTER AREA ***/

#extra {
	display: none;
}
 
#footer {
	display: none;
}