* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Geneva, Verdana, Arial, sans-serif;
	font-size: 13px; 
	color: #fff;
	background-color: #000;
}
 
a img{
	border: 0;
	vertical-align: text-bottom;
}

a {
	text-decoration: underline;
}

input, textarea, select {
	background-color: #f6edda;
}


/*** HEADER ***/

#header {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #333333;
	height: 100%;
}

#header:after { 
	content: "";
	display: block;
	height: 0; 
	clear: both;
}

#logo {
	float: left;   
	text-align: center;
	padding: 17px 0px 17px 10px;
	background-color: #333333;
}

#logo h1 {
	font-weight: 400;
	letter-spacing: -2px;
	font-size: 2.9em;
	color: #f58220; 
	text-transform: uppercase;
}

#logo h2 {  
	font-weight: 400;
	letter-spacing: -1px;
	font-size: 1.5em;
	color: #a0a0a0;
}
 
#printheader {
	display: none;
}

#smallcopy {
	display: none;
}

 
/*** TOP NAVIGATION MENU ***/

#topcontainer {
	float: left;
	width: 100%;
	height: 100%;
	background-color: #333333;
	margin: 0;
	padding: 0;
}

#topcontainer:after { 
	content: "";
	display: block;
	height: 0; 
	clear: both;
}

#topnav {
	clear: left;
	text-align: center;
	width: 668px; 
	margin: 0 auto 0 auto;  
	background-color: #333333;
}

#tabmenu {
	list-style: none;
	margin: 0;
	padding: 0;
}

#tabmenu li {
	margin: 0;
	padding: 0;
	float: left; 
}

#topnav a{
	float: left; 
	text-align: center;
	width: 95px;
	height: 25px;
	line-height: 25px; 
	text-decoration: none;
	color: #b0b0b0;
	text-transform: uppercase;
	font-size: 10px;
	background-image:url(/images/tabinactive.png);
}

#topnav a:hover {
	background-image:url(/images/tabhover.png);
	background-color: #ececec;
	color: #000;
}
	
#topnav .active, #topnav a:hover.active {
	background-image:url(/images/tabactive.png);
	background-color: #ffffff;
	color: #000;
}



/*** REST OF PAGE**/
#central {
	background: #fff url(/images/topbg.png) repeat-x top;  
	clear: both; 
	padding: 40px 0 0 0;
	height: 100%;
}

#central:after { 
	content: "";
	display: block;
	height: 0;
	clear: both; 
} 	

/*** LEFT NAVIGATION MENU ***/

#leftmenu{
	clear: left;
	float: left;
	width: 145px;
	height: 100%;
	margin: 20px 10px 10px 5px;
	padding: 0;
	text-align: left;
	background-color: #fff;
}

#leftmenu ul{	
	list-style: none;
	width: 140px;
	margin: 0 5px 20px 0;
	padding: 0;
	height: 100%;
}	

#leftmenu li{
	margin-bottom: 4px;
}

#leftmenu li a{
	font-weight: 400; 
	height: 100%;
	text-decoration: none;
	color: #606060;
	display: block;
	padding: 6px 0 3px 5px;
	border-bottom: 3px solid #efefef;
}	

#leftmenu li a:hover {
	background-color: #eaeaea;
	color: #f58220;;
	border-bottom: 3px solid #a0a0a0;
	text-decoration: none;
}

#leftmenu li #leftcurrent {
	color: #f58220;
	text-decoration: none;
	border-bottom: 3px solid #000;
	background-color: #fff;
}

#leftmenu li #leftcurrent:after {
	content: "\a0»";
}

#linuxad {
	border: 1px solid black; 
	height: 100%;
	background: #fffbdb url(/images/tuxbg.png) no-repeat bottom right;
	text-align: center;
	padding: 1.5em;

}

#linuxad p{
	font-weight: bold;
	font-size: 1.1em;
	font-variant: small-caps;
}

#linuxad a{
	text-decoration: none;
	color: #f58220;
}

#linuxad a:hover{
	text-decoration: underline;
}

#blogad {
	margin-top: 20px;
	border: 1px solid black; 
	height: 100%;
	background: #d5a77d url(/images/blogbg.png) no-repeat bottom right;
	text-align: center;
	padding: 1.5em;

}

#blogad p{
	font-weight: bold;
	font-size: 1.1em;
	font-variant: small-caps;
}

#blogad a{
	text-decoration: none;
	color: #fffbdb;
}

#blogad a:hover{
	text-decoration: underline;
}


	
/*** MAIN CONTENT AREA ***/


#content {
	text-align: left;
	width: 70%;
	height: 100%;
	margin: 0 auto 0 160px;
	padding: 0 5px 5px 5px;
}

#content h1, #content h2, #content h3, #content h4 {
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 2em 0 1.1em 0;
	color: #f58220;
}

#content h1{
	font-size: 1.5em;
}

#content h1:after {
	content: "\a0»";
}


#content h2{
	font-size: 1.3em;
}

#content h3{
	font-size: 1.1em;
}

#content h4{
	font-size: 1em;
}


#content ul, #content ol {
        padding: 0 0 5px 25px;
	list-style-position: inside;
}

#content li {
	line-height: 1.3em; 
	padding: 5px 0 5px 20px;
	color: #404040;
}

#content p, #content td, #content th, #content pre{
	line-height: 1.5em; 
	padding: 10px 0 5px 20px;
	color: #404040;
}

#content p a{
	color: #324a97;
}
 
#content p a:hover {
	color: #fff;
	background: #324a97;
	text-decoration: none;
}

#content table {
	margin: 0 0 0 20px;
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}

#content table th, #content table td {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: gray;
	background-color: white;
}

.quote, .centerquote {
	margin: 15px 15px 15px 35px;
	border: 1px solid #b0b0b0;
	padding: 10px 10px 10px 10px;
	width: 90%;
	background: #f7f7f7;
	color: #909090;
	clear: right;
}

.centerquote {
	font-weight: bold;
	text-align: center;

}

#rightquote {
	border: 1px dotted black; 
	padding: 1em;
	float: right;
	width: 30%;
	text-align: right;
	background-color: #fffbdb;
	margin: 0 0 1em 1em;
}

#rightquote p{
	padding: 0;
	margin: 0
}

.rightimg {
	margin: 10px 0 10px 10px;
	float: right;
}

.leftimg {
	margin: 10px 10px 10px 20px;
	float: left;
}

.leftpic {
	padding: 25px 0 5px 0;
	width: 49%;
	text-align: center;
	float: left;
}

.rightpic {
	padding: 25px 0 5px 0;
	width: 49%;
	text-align: center;
	float: right;
}

.centerpic {
	padding: 25px 0 5px 0;
	text-align: center;
	margin: 0 auto 0 auto;
}

.clear {
	clear: both;
}

.pdf {
	list-style-image: url('/images/pdf.png');
	vertical-align: text-bottom;
}

.ps {
	list-style-image: url('/images/ps.png');
	vertical-align: text-bottom;
}

.html {
	list-style-image: url('/images/html.png');
	vertical-align: text-bottom;
}

.latex {
	list-style-image: url('/images/latex.png');
	vertical-align: text-bottom;
}

.original {
	list-style-image: url('/images/original.png');
	vertical-align: text-bottom;
}

.odt {
	list-style-image: url('/images/odt.png');
	vertical-align: text-bottom;
}

.linkinfo {
	font-size: 0.9em;
}

/*** FOOTER AREA ***/

 
#footer {
	width: 100%;
	background: #333333 url(/images/footerbg.png) repeat-x;
	padding-top: 80px;
	clear: both;
}

#footcontainer {
	clear: both;
	background-color: #333333;
	text-align: left;
	width: 650px;
	color: #fff;
	margin: 0 auto 0 auto;
}

#footcontainer h2{
	font-weight: normal;
	font-size: 1.3em;
	text-transform: uppercase;
	margin-left: 10px;
	margin-bottom: 10px;
	color: #f58220;
}

#footcontainer h2:after {
	content: "\a0»";
}
 
#blocklinks {
	width: 320px;
	float: left;
	background-color: #333333;
}

#blocknews {
	width: 320px;
	float: right;
	background-color: #333333;
}

#blocklinks ul, #blocknews ul {
	list-style: none;
	margin: 0 5px 20px 0;
	padding: 0;
	height: 100%;
}

#blocklinks li, #blocknews li {
	padding: 0;
	margin: 0;
}


#blocklinks a, #blocknews a {
	display: block; 
	padding: 10px 10px 10px 10px;
	margin: 0;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	border-top: 1px dotted #a0a0a0;
}

#blocklinks a:hover, #blocknews a:hover {
	color: #ddd;
	background: #525252;
	border-top: 1px dotted #a0a0a0;
}

#copyright {
	width: 100%;
	clear: both;
	text-align: center;
	background: #333333;
	font-size: 0.9em;
	padding: 0 0 16px 0;
	color: #a0a0a0;
}

#cclogo {
	padding: 5px 0px 10px 0px;
}


.name {
	color: #c0c0c0;
}

.extra {
	display: none;
}

.init {
	text-transform: uppercase;
}